#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}



.hidescroll::-webkit-scrollbar {
  display: none;
  color: #CB1B5B;
}
.scroll-1::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

.scroll-1::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #CB1B5B;
}

.custom-success-icon {
  @apply font-bold text-red-500 text-2xl; 
}